* {
  box-sizing: border-box;
}
body {
  background: #d5ecf3;
  font-family: 'Roboto', sans-serif;
}
.header, .sorting-block, .sorting-block-items {
  display: flex;
}
.header {
  justify-content: space-between;
}
.sorting-block{
  align-items: center;
}
.sorting-block__item {
  padding: 5px 10px;
  border: 1px solid black;
  margin: 0 5px;
}
.sorting-block__item.selected {
  background: black;
  color: white;
}
.contributors-list {
  width: 35%;
  margin: 0 auto;
}
.header {
  width: 35%;
  margin: 20px auto 30px;
}
.contributors-list__item {
  display: none;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 20px 15px;
  text-transform: capitalize;
  justify-content: space-between;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px;
}
.contributors-list__item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px -10px;
}
.contributors-list__item-contributors {
  color: red;
  text-align: right;
}
.contributors-list__item-group {
  color: blue;
  text-align: center;
}
.contributors-list__item.displayed{
  display: flex;
}

.selectors-list{
  display: block;
  text-decoration: none;
}
.selectors-list__item {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
}
.selectors-list__item.selected {
  background: black;
  color: white;
}
